.imagecheck-image.rollcall-img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

figure span.player-number {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    z-index: 999;
    text-shadow: 0 0 10px #fff;
    user-select: none;
    pointer-events: none;
    color: #000 !important;
}

#ScoutiveLogo {
    width: 120px;
}

#header-menu #ScoutiveLogo {
    width: 110px;
}

#daily-employee .c3-chart-arc text {
    font-size: 15px;
    font-weight: 600;
}

#budget-report.c3-area {
    opacity: 1 !important;
}

.swal2-input.activation-input {
    width: 150px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 5px;
}

.swal2-actions {
    margin: 1.25em auto 0;
}

.swal2-actions.activation-actions {
    margin: 0 auto;
}

.webkit-scroll {
    -webkit-overflow-scrolling: touch;
}

#action-dropdown {
    position: static !important;
}

.disable-overlay {
    user-select: none;
    cursor: none;
    pointer-events: none;
}

#root {
    height: 100%;
}

.table-responsive.employee-list {
    -webkit-overflow-scrolling: auto !important;
}

.cursor-pointer {
    cursor: pointer !important;
}
.cursor-default {
    cursor: default !important;
}

.cursor-not-allowed {
    cursor: not-allowed !important;
}

.pointer-events {
    pointer-events: all !important;
}

.react-datepicker-popper {
    z-index: 9999 !important;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
    display: block !important;
}

.employeeActionNav {
    margin-bottom: -1px;
}

.employeeActionNav .nav-tabs {
    margin: 0;
}

.employeeActionNav .nav-item {
    margin-right: 20px;
}

.employeeActionModal .modal-header {
    padding: 0 1rem;
}
.employeeActionModal .modal-header .close {
    margin-top: 0;
}

#passwordEmployeeAction {
    font-size: 30px;
    height: 60px;
    line-height: 1;
    font-weight: 600;
    text-align: center;
}

.FABs-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    z-index: 9999;
    margin: 0 auto;
    bottom: -65px;
    left: 50%;
    width: 150px;
    height: 100px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.FABs-wrapper:hover {
    bottom: -10px;
}

.FABs-wrapper.fixed {
    bottom: -10px;
}

#FABs {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

#FABs i {
    font-size: 1.55rem;
}

.FABs-wrapper .dropdown-header {
    font-size: 1rem !important;
}

.FABs-wrapper .dropup .dropdown-menu {
    margin-bottom: 0.5rem !important;
    width: 200px;
    margin-left: -100px;
    left: 50% !important;
}

.FABs-pin {
    display: none;
}

.FABs-wrapper.fixed .FABs-pin {
    position: absolute;
    right: 0;
    background: #495057;
    padding: 5px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    font-size: 0.6rem;
    text-align: center;
    display: block;
}

@media (max-width: 992px) {
    .FABs-wrapper {
        left: 0px;
        bottom: 0px;
    }

    .FABs-wrapper:hover {
        left: 45px;
        bottom: 20px;
    }

    .FABs-wrapper .dropup .dropdown-menu {
        margin-left: 0 !important;
        left: 0 !important;
    }
}

#player-list_wrapper .top {
    display: flex;
}

#player-list_wrapper .filterTools {
    margin-left: 1.5rem;
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

.tick tspan {
    font-size: 0.75rem;
}

.text-first-letter::first-letter {
    text-transform: capitalize;
}

.resize-none {
    resize: none !important;
}

.c3-tooltip {
    font-size: 14px !important;
}

.border-radius-0 {
    border-radius: 0 !important;
}

.selectgroup-input:checked + .selectgroup-button.success {
    border-color: #5eba00;
    color: #5eba00;
    background: #eff8e6;
}

.selectgroup-input:focus + .selectgroup-button.success {
    border-color: #5eba00;
    color: #5eba00;
    box-shadow: 0 0 0 2px rgba(93, 186, 0, 0.251);
}

.selectgroup-input:checked + .selectgroup-button.danger {
    border-color: #cd201f;
    color: #cd201f;
    background: #fae9e9;
}

.selectgroup-input:focus + .selectgroup-button.danger {
    border-color: #cd201f;
    color: #cd201f;
    box-shadow: 0 0 0 2px rgba(205, 31, 31, 0.251);
}

.selectgroup-input:checked + .selectgroup-button.azure {
    border-color: #45aaf2;
    color: #45aaf2;
    background: #ecf7fe;
}

.selectgroup-input:focus + .selectgroup-button.azure {
    border-color: #45aaf2;
    color: #45aaf2;
    box-shadow: 0 0 0 2px rgba(69, 170, 242, 0.251);
}

.selectgroup-input:checked + .selectgroup-button.indigo {
    border-color: #6574cd;
    color: #6574cd;
    background: #f0f1fa;
}

.selectgroup-input:focus + .selectgroup-button.indigo {
    border-color: #6574cd;
    color: #6574cd;
    box-shadow: 0 0 0 2px rgba(101, 117, 205, 0.251);
}

.list-timeline {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
}

.list-timeline > li {
    position: relative;
    margin-bottom: 1.5rem;
}
.list-timeline > li:last-child {
    margin-bottom: 0;
}

.list-timeline-time {
    float: right;
    margin-left: 1rem;
    color: #888e9a;
}

.list-timeline-icon {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    color: #fff;
    text-align: center;
    background: #adb5bd;
    border-radius: 50%;
}
.list-timeline-icon .icon {
    width: 1rem;
    height: 1rem;
}

.list-timeline-title {
    margin: 0;
    font-weight: 600;
}

.list-timeline-content {
    margin-left: 3.5rem;
}

@media screen and (min-width: 768px) {
    .list-timeline:not(.list-timeline-simple)::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(7.5rem + 2px);
        z-index: 1;
        display: block;
        width: 4px;
        content: "";
        background-color: #f8fafb;
    }
    .list-timeline:not(.list-timeline-simple) > li {
        z-index: 2;
        min-height: 40px;
    }
    .list-timeline:not(.list-timeline-simple) .list-timeline-time {
        position: absolute;
        top: 0.5rem;
        left: 0;
        width: 5.5rem;
        margin: 0;
        text-align: right;
    }
    .list-timeline:not(.list-timeline-simple) .list-timeline-icon {
        top: 0;
        left: 6.5rem;
    }
    .list-timeline:not(.list-timeline-simple) .list-timeline-content {
        padding: 0.625rem 0 0 10rem;
        margin: 0;
    }
}

/**
SOCIAL COLORS
 */
.bg-facebook {
    color: #fff !important;
    background: #3b5998 !important;
}

.text-facebook {
    color: #3b5998 !important;
}

.bg-twitter {
    color: #fff !important;
    background: #1da1f2 !important;
}

.text-twitter {
    color: #1da1f2 !important;
}

.bg-google {
    color: #fff !important;
    background: #dc4e41 !important;
}

.text-google {
    color: #dc4e41 !important;
}

.bg-youtube {
    color: #fff !important;
    background: #f00 !important;
}

.text-youtube {
    color: #f00 !important;
}

.bg-vimeo {
    color: #fff !important;
    background: #1ab7ea !important;
}

.text-vimeo {
    color: #1ab7ea !important;
}

.bg-dribbble {
    color: #fff !important;
    background: #ea4c89 !important;
}

.text-dribbble {
    color: #ea4c89 !important;
}

.bg-github {
    color: #fff !important;
    background: #181717 !important;
}

.text-github {
    color: #181717 !important;
}

.bg-instagram {
    color: #fff !important;
    background: #e4405f !important;
}

.text-instagram {
    color: #e4405f !important;
}

.bg-pinterest {
    color: #fff !important;
    background: #bd081c !important;
}

.text-pinterest {
    color: #bd081c !important;
}

.bg-vk {
    color: #fff !important;
    background: #6383a8 !important;
}

.text-vk {
    color: #6383a8 !important;
}

.bg-rss {
    color: #fff !important;
    background: #ffa500 !important;
}

.text-rss {
    color: #ffa500 !important;
}

.bg-flickr {
    color: #fff !important;
    background: #0063dc !important;
}

.text-flickr {
    color: #0063dc !important;
}

.bg-bitbucket {
    color: #fff !important;
    background: #0052cc !important;
}

.text-bitbucket {
    color: #0052cc !important;
}

.clear-both {
    clear: both;
}

.card-value-icon {
    font-size: 2rem;
    line-height: 2rem;
    height: 2rem;
    width: 2rem;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    font-weight: 400;
}

.card-value-icon i {
    vertical-align: middle;
}

.avatar .icon {
    font-size: 1.25em;
    vertical-align: -0.1em;
}

.badge-red-dark {
    color: #fff;
    background-color: #cd201f;
}

/* FABs_v2 */

#FABs_v2 {
    display: flex;
    flex-direction: column;
}

#FABs_v2 .dropdown-header {
    font-size: 1rem !important;
}

.installment-detail .tag {
    border-top: 0.5px solid #fff;
    border-bottom: 0.5px solid #fff;
    border-radius: 0;
    width: 100%;
    height: 30px;
    align-items: center;
}

@media (min-width: 992px) {
    .installment-detail .tag {
        border-right: 0.5px solid #fff !important;
        border-left: 0.5px solid #fff !important;
    }
}
@media (min-width: 768px) {
    .installment-detail .tag {
        border-right: 0.5px solid #fff !important;
        border-left: 0.5px solid #fff !important;
    }
}

.installment-detail.monthly-detail .tag {
    cursor: pointer;
}

.card.card-hover {
    transition: all 0.25s ease-in;
}

.card.card-hover:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    cursor: pointer;
}

.card.card-hover.hover-primary:hover {
    border: 1px solid #467fcf;
}

.card.card-hover.hover-success:hover {
    border: 1px solid #5eba00;
}

.card.card-hover.hover-warning:hover {
    border: 1px solid #f1c40f;
}

.card-active {
    position: relative;
    background-color: rgba(32, 107, 196, 0.03);
}
.card-active::before {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    content: "";
    border: 1px solid #206bc4;
    border-radius: inherit;
}

.card-inactive {
    pointer-events: none;
    box-shadow: none;
}
.card-inactive .card-body {
    opacity: 0.64;
}

.ribbon {
    position: absolute;
    top: 0.75rem;
    right: -0.25rem;
    z-index: 1;
    padding: 0.25rem 0.75rem;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background: #467fcf;
    border-color: #467fcf;
}
.ribbon::before {
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 0;
    height: 0;
    content: "";
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
    border: 0.125rem solid;
    border-color: inherit;
    border-top-color: transparent;
    border-right-color: transparent;
}
.ribbon.bg-blue {
    border-color: #467fcf;
}
.ribbon.bg-blue-lt {
    border-color: #d2e1f3 !important;
}
.ribbon.bg-indigo {
    border-color: #6574cd;
}
.ribbon.bg-indigo-lt {
    border-color: #e0e3f5 !important;
}
.ribbon.bg-purple {
    border-color: #a55eea;
}
.ribbon.bg-purple-lt {
    border-color: #eddffb !important;
}
.ribbon.bg-pink {
    border-color: #f66d9b;
}
.ribbon.bg-pink-lt {
    border-color: #fde2eb !important;
}
.ribbon.bg-red {
    border-color: #fa4654;
}
.ribbon.bg-red-lt {
    border-color: #fedadd !important;
}
.ribbon.bg-orange {
    border-color: #ff922b;
}
.ribbon.bg-orange-lt {
    border-color: #ffe9d5 !important;
}
.ribbon.bg-yellow {
    border-color: #fcc419;
}
.ribbon.bg-yellow-lt {
    border-color: #fef3d1 !important;
}
.ribbon.bg-green {
    border-color: #5eba00;
}
.ribbon.bg-green-lt {
    border-color: #dff1cc !important;
}
.ribbon.bg-teal {
    border-color: #2bcbba;
}
.ribbon.bg-teal-lt {
    border-color: #d5f5f1 !important;
}
.ribbon.bg-cyan {
    border-color: #17a2b8;
}
.ribbon.bg-cyan-lt {
    border-color: #d1ecf1 !important;
}
.ribbon.bg-white {
    border-color: #fff;
}
.ribbon.bg-white-lt {
    border-color: #fff !important;
}
.ribbon.bg-gray {
    border-color: #868e96;
}
.ribbon.bg-gray-lt {
    border-color: #e7e8ea !important;
}
.ribbon.bg-gray-dark {
    border-color: #343a40;
}
.ribbon.bg-gray-dark-lt {
    border-color: #d6d8d9 !important;
}
.ribbon.bg-azure {
    border-color: #45aaf2;
}
.ribbon.bg-azure-lt {
    border-color: #daeefc !important;
}
.ribbon.bg-lime {
    border-color: #7bd235;
}
.ribbon.bg-lime-lt {
    border-color: #e5f6d7 !important;
}
.ribbon.bg-dark {
    border-color: #354052;
}
.ribbon.bg-dark-lt {
    border-color: #d7d9dc !important;
}
.ribbon .icon {
    width: 1rem;
    height: 1rem;
}
.ribbon-top {
    top: -0.25rem;
    right: 0.75rem;
    width: 2rem;
    padding: 0.25rem 0;
}
.ribbon-top::before {
    top: 0;
    right: 100%;
    bottom: auto;
    border-color: inherit;
    border-top-color: transparent;
    border-left-color: transparent;
}
.ribbon-top.ribbon-left {
    right: auto;
    left: 0.75rem;
}
.ribbon-top.ribbon-left::before {
    top: 0;
    right: 100%;
    left: auto;
}
.ribbon-left {
    right: auto;
    left: -0.25rem;
}
.ribbon-left::before {
    top: auto;
    bottom: 100%;
    left: 0;
    border-color: inherit;
    border-top-color: transparent;
    border-left-color: transparent;
}
.ribbon-bottom {
    top: auto;
    bottom: 0.75rem;
}
.ribbon-bookmark {
    padding-left: 0.25rem;
}
.ribbon-bookmark::after {
    position: absolute;
    top: 0;
    right: 100%;
    display: block;
    width: 0;
    height: 0;
    content: "";
    border: 1rem solid;
    border-color: inherit;
    border-right-width: 0;
    border-left-color: transparent;
    border-left-width: 0.5rem;
}
.ribbon-bookmark.ribbon-left {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.ribbon-bookmark.ribbon-left::after {
    right: auto;
    left: 100%;
    border-right-color: transparent;
    border-right-width: 0.5rem;
    border-left-width: 0;
}
.ribbon-bookmark.ribbon-top {
    padding-right: 0;
    padding-bottom: 0.25rem;
    padding-left: 0;
}
.ribbon-bookmark.ribbon-top::after {
    top: 100%;
    right: 0;
    left: 0;
    border-color: inherit;
    border-width: 1rem;
    border-top-width: 0;
    border-bottom-color: transparent;
    border-bottom-width: 0.5rem;
}

/* .page-pretitle {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: #8a91a5;
}
.page-title {
    margin: 0;
    font-size: 1.3125rem;
    font-weight: 400;
    line-height: 1;
    color: #354052;
}
 */

.badge {
    display: inline-block;
    padding: 0.25em 0.5em;
    font-size: 0.75em;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 3px;
}

.badge:empty {
    display: none;
}

.btn .badge,
.jqvmap-zoomin .badge,
.jqvmap-zoomout .badge {
    position: relative;
    top: -1px;
}
.badge {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    background: #e9ecef;
}

a.badge {
    color: #fff;
}

.badge:empty {
    display: inline-block;
    width: 8px;
    min-width: 0;
    height: 8px;
    min-height: auto;
    padding: 0;
    border-radius: 50%;
}

.badge-up {
    position: absolute;
    top: 25%;
    right: 0;
    min-width: 1rem;
    min-height: 1rem;
    padding: 0 0.25rem;
    line-height: 1rem;
    background-clip: padding-box;
    transform: translate(0, -50%);
}

.badge-outline {
    background-color: transparent;
    border: 1px solid currentColor;
}

.badge-pill {
    border-radius: 100px;
}

.badge .badge-secondary {
    color: #fff;
    background-color: #868e96;
}
.badge.badge-primary {
    color: #fff;
    background-color: #467fcf;
}
.badge.badge-secondary {
    color: #fff;
    background-color: #868e96;
}
.badge.badge-success {
    color: #fff;
    background-color: #5eba00;
}
.badge.badge-info {
    color: #fff;
    background-color: #45aaf2;
}
.badge.badge-warning {
    color: #fff;
    background-color: #f1c40f;
}
.badge.badge-danger {
    color: #fff;
    background-color: #cd201f;
}
.badge.badge-dark {
    color: #fff;
    background-color: #343a40;
}
.badge.badge-indigo {
    color: #fff;
    background-color: #6574cd !important;
}
.badge.badge-purple {
    color: #fff;
    background-color: #a55eea !important;
}
.badge.badge-lime {
    color: #fff;
    background-color: #7bd235 !important;
}
.badge.badge-orange {
    color: #fff;
    background-color: #fd9644;
}
.text-h1 {
    font-size: 1.625rem !important;
}

.text-h2 {
    font-size: 1.3125rem !important;
}

.text-h3 {
    font-size: 1.125rem !important;
}

.text-h4 {
    font-size: 1rem !important;
}

.text-h5 {
    font-size: 0.875rem !important;
}

.text-h6 {
    font-size: 0.75rem !important;
}

.p-125 {
    padding: 1.25rem !important;
}

.work-days .tag {
    border-right: 0.5px solid #fff;
    border-left: 0.5px solid #fff;
    border-radius: 0;
    width: 100%;
    height: 18px;
    align-items: center;
    font-size: 11px;
    justify-content: center;
}
.work-days .tag:last-child {
    border-right: 0;
}
.work-days .tag:first-child {
    border-left: 0;
}

.bg-scoutive {
    background-color: #495057 !important;
}

.user-select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.table thead th,
.markdown table thead th {
    background: rgba(135, 150, 165, 0.032);
    border-width: 1px;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: #8a91a5;
}

.card-body.card-checkbox .custom-control.custom-checkbox {
    position: absolute;
    top: 3px;
    right: 0;
}

.start-warning {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    animation: siren 1.5s ease-in-out infinite;
}

.start-warning + #header-menu {
    margin-top: 48px;
}

@keyframes siren {
    0% {
        color: #7d6608;
        border-color: #fbeebc;
        background-color: #fcf3cf;
    }
    50% {
        color: #6b1110;
        background-color: #f5d2d2;
        border-color: #f1c1c0;
    }
    100% {
        color: #7d6608;
        border-color: #fbeebc;
        background-color: #fcf3cf;
    }
}

.icon-placeholder {
    display: inline-flex;
    justify-content: center;
    background: #ced4da;
    width: 4.5rem;
    height: 4.5rem;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #868e96;
    border-radius: 50%;
}
.icon-placeholder.icon-placeholder-lg {
    width: 5.5rem;
    height: 5.5rem;
    font-size: 2.5rem;
}
.icon-placeholder.icon-placeholder-md {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.5rem;
}
.icon-placeholder.icon-placeholder-sm {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
}
.icon-placeholder.icon-placeholder-xxs {
    width: 1.75rem;
    height: 1.75rem;
    font-size: 0.875rem;
}

#communication-service {
    position: fixed;
    top: 50%;
    left: 25px;
    width: 180px;
    height: 50px;
    transform: translateY(-50%);
    display: flex;
    flex: 1 1;
    flex-direction: row-reverse;
    align-items: center;
    z-index: 9999999;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

#communication-service .communication-icon {
    display: flex;
    padding-top: 20px;
    font-size: 1.5rem;
    transform: rotate(90deg);
    color: #fff;
}
#communication-service .communication-text {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1rem;
    color: #fff;
    padding-right: 5px;
}

.steps {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0;
    margin: 2rem 0;
    list-style: none;
}
.steps .step-item {
    padding-top: calc(0.5rem + 4px);
}
.steps .step-item::after {
    top: calc(0.25rem + 2px);
    height: 2px;
}
.steps .step-item::before {
    width: 0.5rem;
    height: 0.5rem;
}
.steps .step-item::after,
.steps .step-item::before {
    color: #ffffff;
    background: #206bc4;
}
.steps .step-item.active::before {
    color: inherit;
    border-color: #206bc4;
}

.steps-blue .step-item::after,
.steps-blue .step-item::before {
    color: #ffffff;
    background: #206bc4;
}

.steps-blue .step-item.active::before {
    color: inherit;
    border-color: #206bc4;
}

.steps-indigo .step-item::after,
.steps-indigo .step-item::before {
    color: #ffffff;
    background: #6574cd;
}

.steps-indigo .step-item.active::before {
    color: inherit;
    border-color: #6574cd;
}

.steps-purple .step-item::after,
.steps-purple .step-item::before {
    color: #ffffff;
    background: #a55eea;
}

.steps-purple .step-item.active::before {
    color: inherit;
    border-color: #a55eea;
}

.steps-pink .step-item::after,
.steps-pink .step-item::before {
    color: #ffffff;
    background: #f66d9b;
}

.steps-pink .step-item.active::before {
    color: inherit;
    border-color: #f66d9b;
}

.steps-red .step-item::after,
.steps-red .step-item::before {
    color: #ffffff;
    background: #fa4654;
}

.steps-red .step-item.active::before {
    color: inherit;
    border-color: #fa4654;
}

.steps-orange .step-item::after,
.steps-orange .step-item::before {
    color: #ffffff;
    background: #ff922b;
}

.steps-orange .step-item.active::before {
    color: inherit;
    border-color: #ff922b;
}

.steps-yellow .step-item::after,
.steps-yellow .step-item::before {
    color: #ffffff;
    background: #fab005;
}

.steps-yellow .step-item.active::before {
    color: inherit;
    border-color: #fab005;
}

.steps-green .step-item::after,
.steps-green .step-item::before {
    color: #ffffff;
    background: #5eba00;
}

.steps-green .step-item.active::before {
    color: inherit;
    border-color: #5eba00;
}

.steps-teal .step-item::after,
.steps-teal .step-item::before {
    color: #ffffff;
    background: #2bcbba;
}

.steps-teal .step-item.active::before {
    color: inherit;
    border-color: #2bcbba;
}

.steps-cyan .step-item::after,
.steps-cyan .step-item::before {
    color: #ffffff;
    background: #17a2b8;
}

.steps-cyan .step-item.active::before {
    color: inherit;
    border-color: #17a2b8;
}

.steps-white .step-item::after,
.steps-white .step-item::before {
    color: #ffffff;
    background: #ffffff;
}

.steps-white .step-item.active::before {
    color: inherit;
    border-color: #ffffff;
}

.steps-gray .step-item::after,
.steps-gray .step-item::before {
    color: #ffffff;
    background: #868e96;
}

.steps-gray .step-item.active::before {
    color: inherit;
    border-color: #868e96;
}

.steps-gray-dark .step-item::after,
.steps-gray-dark .step-item::before {
    color: #ffffff;
    background: #343a40;
}

.steps-gray-dark .step-item.active::before {
    color: inherit;
    border-color: #343a40;
}

.steps-azure .step-item::after,
.steps-azure .step-item::before {
    color: #ffffff;
    background: #45aaf2;
}

.steps-azure .step-item.active::before {
    color: inherit;
    border-color: #45aaf2;
}

.steps-lime .step-item::after,
.steps-lime .step-item::before {
    color: #ffffff;
    background: #7bd235;
}

.steps-lime .step-item.active::before {
    color: inherit;
    border-color: #7bd235;
}

.steps-dark .step-item::after,
.steps-dark .step-item::before {
    color: #ffffff;
    background: #354052;
}

.steps-dark .step-item.active::before {
    color: inherit;
    border-color: #354052;
}

.step-item {
    position: relative;
    flex: 1 1 0;
    min-height: 1rem;
    margin-top: 0;
    color: inherit;
    text-align: center;
    cursor: default;
}
a.step-item {
    cursor: pointer;
}
a.step-item:hover {
    color: inherit;
}
.step-item:not(:first-child)::after {
    position: absolute;
    left: -50%;
    width: 100%;
    content: "";
    transform: translateY(-50%);
}
.step-item::before {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    box-sizing: content-box;
    display: block;
    content: "";
    border: 2px solid #fff;
    border-radius: 50%;
    transform: translateX(-50%);
}
.step-item.active {
    font-weight: 600;
}
.step-item.active::before {
    background: #fff;
}
.step-item.active ~ .step-item {
    color: #8a91a5;
}
.step-item.active ~ .step-item::after,
.step-item.active ~ .step-item::before {
    background: #cfd2d5;
}
.step-item.active ~ .step-item::before {
    color: #8a91a5 !important;
}

.steps-counter {
    counter-reset: steps;
}
.steps-counter .step-item {
    padding-top: calc(1.5rem + 4px);
}
.steps-counter .step-item::after {
    top: calc(0.75rem + 2px);
    height: 2px;
}
.steps-counter .step-item::before {
    width: 1.5rem;
    height: 1.5rem;
}
.steps-counter .step-item {
    counter-increment: steps;
}
.steps-counter .step-item::before {
    font-size: 1rem;
    line-height: 1.5rem;
    content: counter(steps);
}
.steps-counter .step-item.active ~ .step-item::before {
    background: #fff;
}
/** Horizontal rules */
/** Hr text */
.hr-text {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    font-size: 0.7333333em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: #8a91a5;
}
.hr-text::after,
.hr-text::before {
    flex: 1 1 auto;
    height: 1px;
    background-color: currentColor;
    opacity: 0.1;
}
.hr-text::before {
    margin-right: 0.5rem;
}
.hr-text::after {
    content: "";
    margin-left: 0.5rem;
}
.hr-text > *:first-child {
    padding-right: 0.5rem;
    padding-left: 0;
    color: #8a91a5;
}
.hr-text.hr-text-center::before {
    content: "";
}
.hr-text.hr-text-center > *:first-child {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.hr-text.hr-text-right::before {
    content: "";
}
.hr-text.hr-text-right::after {
    content: none;
}
.hr-text.hr-text-right > *:first-child {
    padding-right: 0;
    padding-left: 0.5rem;
}

/* ### BREACRUMB ### */
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #f1f3f8;
    border-radius: 3px;
}

.breadcrumb-item {
    display: flex;
}
.breadcrumb-item + .breadcrumb-item {
    padding-left: 0.5rem;
}
.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #aeb3bc;
    content: "/";
}
.breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration: underline;
}
.breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration: none;
}
.breadcrumb-item.active {
    color: #aeb3bc;
}

.breadcrumb {
    padding: 0;
    margin: 0;
    background: transparent;
}

.breadcrumb-item.active a {
    color: inherit;
    pointer-events: none;
}

.breadcrumb-dots .breadcrumb-item + .breadcrumb-item::before {
    content: "·";
}

.breadcrumb-arrows .breadcrumb-item + .breadcrumb-item::before {
    content: "›";
}

.breadcrumb-bullets .breadcrumb-item + .breadcrumb-item::before {
    content: "•";
}

.breadcrumb-alternate a {
    color: #8b929e;
}

.breadcrumb-alternate .breadcrumb-item.active {
    color: #354052;
}

.vertical-middle {
    vertical-align: middle !important;
}

/**
Card tabs
 */
.card-tabs {
    margin-bottom: 1.5rem;
}
.card-tabs .nav-tabs {
    position: relative;
    z-index: 1000;
    border-bottom: 0;
}
.card-tabs .nav-tabs .nav-link {
    background: rgba(53, 64, 82, 0.032);
    border: 1px solid rgba(104, 112, 125, 0.24);
    border-bottom: 0;
}
.card-tabs .nav-tabs .nav-link.active,
.card-tabs .nav-tabs .nav-link:active,
.card-tabs .nav-tabs .nav-link:hover {
    border-color: rgba(104, 112, 125, 0.24);
}
.card-tabs .nav-tabs .nav-link.active {
    background: #ffffff;
}
.card-tabs .nav-tabs .nav-item:not(:first-child) .nav-link {
    border-top-left-radius: 0;
}
.card-tabs .nav-tabs .nav-item:not(:last-child) .nav-link {
    border-top-right-radius: 0;
}
.card-tabs .nav-tabs .nav-item + .nav-item {
    margin-left: -1px;
}
.card-tabs .nav-tabs-bottom {
    margin-bottom: 0;
}
.card-tabs .nav-tabs-bottom .nav-item {
    margin-top: -1px;
    margin-bottom: 0;
}
.card-tabs .nav-tabs-bottom .nav-item .nav-link {
    border-top-width: 0;
    border-bottom: 1px solid rgba(104, 112, 125, 0.24);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.card-tabs .card {
    margin: 0;
    border-top-left-radius: 0;
}
.card-tabs .nav-tabs .nav-link {
    padding: 0.75rem 1.25rem;
}
.card-tabs .nav-link,
.card-tabs .nav-item {
    padding: 0;
}
.card-tabs .nav-tabs {
    margin: 0;
}

a.card {
    color: inherit;
    transition: 0.3s box-shadow;
}

a.card:hover {
    text-decoration: none;
    box-shadow: rgba(53, 64, 82, 0.16) 0 2px 16px 0;
}

.fs-7 {
    font-size: 7pt;
}
.fs-8 {
    font-size: 8pt;
}
.fs-9 {
    font-size: 9pt;
}
.fs-10 {
    font-size: 10pt;
}
.fs-11 {
    font-size: 11pt;
}
.fs-12 {
    font-size: 12pt;
}

/* ### Print ### */

@media print {
    .print-border-dark-light {
        border: 1px solid #717579 !important;
    }
    .print-border-dark-lighter {
        border: 1px solid #c2c4c6 !important;
    }
    .print-border-dark-lightest {
        border: 1px solid #ebebec !important;
    }
}

/* custom-switch-green */
.custom-switch-green-input:checked ~ .custom-switch-green-indicator {
    background: #5eba00;
}

@media (min-width: 576px) {
    .text-sm-nowrap {
        white-space: nowrap !important;
    }
}

.bank-group > .bank {
    cursor: not-allowed;
    filter: grayscale(1);
    margin-right: 0;
    border-right: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0 !important;
    pointer-events: none;
}

.bank-group .bank.bank-active {
    cursor: pointer;
    filter: grayscale(0);
    pointer-events: all;
}
