body {
    background-color: #f1f1f1;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: #4183c4;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

p {
    color: rgba(0, 0, 0, 0.5);
    margin: 20px 0;
    line-height: 1.6;
}

ul {
    list-style: none;
    margin: 25px 0;
    padding: 0;
}
li {
    display: table-cell;
    font-weight: bold;
    width: 1%;
}

.logo {
    display: inline-block;
    margin-top: 35px;
}
.logo-img-2x {
    display: none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .logo-img-1x {
        display: none;
    }
    .logo-img-2x {
        display: inline-block;
    }
}

#suggestions {
    margin-top: 35px;
    color: #ccc;
}
#suggestions a {
    color: #666666;
    font-weight: 200;
    font-size: 14px;
    margin: 0 10px;
}
